h1 {
  color: #ffffff;
  font-size: 60px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 0;
}
h3 {
  font-size: 20px;
  padding: 0;
}

footer {
  color: #024cad;
  margin-left: 30px;
  font-size: 17px;
}
#current-icon {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}
.search {
  margin-top: 20px;
}

.date-time {
  margin-left: 15px;
  font-size: 20px;
}

.current-icon {
  font-size: 200px;
  padding: 20px;
  text-align: center;
}
.current-temperature {
  position: relative;
  top: 70px;
  font-size: 80px;
  font-weight: 600;
}

.temperature-range {
  margin-top: 35px;
  font-size: 30px;
  font-weight: 500;
}

.container {
  background: linear-gradient(#024cad, #fff);
  max-width: 650px;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 15px;
  font-family: "Open Sans Condensed", sans-serif;
}

.forecast {
  color: #024cad;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}
.icon {
  color: #ffffff;
  font-size: 20px;
}
.more-info {
  font-size: 20px;
}

#current-location {
  position: relative;
  bottom: 5px;
}
#description {
  text-transform: capitalize;
  font-size: 20px;
  margin: 10px 0 0 30px;
}
.units {
  color: #fff;
  font-size: 30px;
  position: relative;
  top: -5px;
}

#fahrenheit-link,
#celsius-link {
  color: #fff;
}
#max-temp {
  font-weight: 900;
}

#forecast {
  text-align: center;
  color: #024cad;
  display: block;
  margin: 0 auto;
  padding: 0;
}
